.checkout-success-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  font-size: 24px;
  color: #008000;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);

}
