*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; 
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}


.title {
  text-align: center;
  margin: 20px 0;
  color: rgb(83, 92, 39);
  font-weight: 400;
  font-size: 3rem;
  text-decoration: underline;
}